{% extends "personal/header.html" %}
{% block content %}
    <main role="main">
            
            
                  <div class="album text-muted">
                    <div class="container">
                      <div class="row">
                            
                            {% for post in object_list %}
                            <div class="card">
                              <div class="card-header">
                                {{post.category}}
                              </div>
                              <div class="card-body">
                                  <h6>{{post.date|date:"Y-m-d"}}<a href = "/blog/{{post.id}}">&nbsp;&nbsp;{{post.title}}</a></h6>                                    
                                  <p class="card-text text-justify">{{ post.overview }}</p>
                              </div>
                            </div>
                            {% endfor %}

                      </div>
            
                    </div>
                  </div>
            
                </main>
{% endblock %}