{% extends "personal/header.html" %}
{% block content %}
<main role="main">
          <div class="album text-muted">
            <div class="container">
    
              <div class="row">
                <div class="card">
                  {% load staticfiles %}
                  <img src="{% static 'personal/img/networks.png' %}" alt="Card image cap">
                  <h6>TCAM Memory Utilization in SDN</h6>
                  <p class="card-text">Domain: Software Defined Networks</p>
                  <p class="card-text">Developing Memory Management Unit for POX Controller. Code on <a href="https://github.com/khursheedali38/TCAM-Utilization-in-switches">GitHub</a></p>
                </div>
                <div class="card">
                  <img src="{% static 'personal/img/ML.png' %}" alt="Card image cap">
                  <h6>NYC Cab Trip Duration Prediction</h6>
                  <p class="card-text">Domain: Machine Learning</p>
                  <p class="card-text">Developed Random Forest Model to predict the duration of trip with an accuracy of 83%. Code on <a href="https://github.com/khursheedali38/Travel-Time-Prediction">GitHub</a></p>
                </div>
                <div class="card">
                    <img src="{% static 'personal/img/Code.jpeg' %}" alt="Card image cap">
                    <h6>Django Web Development</h6>
                  <p class="card-text">Domain: Web Development</p>
                  <p class="card-text">Developed personal website using Django framework. You are surfing the same website.</a></p>
                </div>
    
                <div class="card">
                    <img src="{% static 'personal/img/Data Viz.png' %}" alt="Card image cap">
                  <h6>Custom Visuals for Microsoft Power BI</h6>
                  <p class="card-text">Domain: Data Visualization</p>
                  <p class="card-text">Developed Custom Visuals for Microsoft Data Analytics platform at <a href="https://maqsoftware.com">MAQ Software.</a> Prototype on <a href="https://github.com/khursheedali38/Custom-Visuals---Microsoft-Power-BI">GitHub</a></p>
                </div>
                <div class="card">
                    <img src="{% static 'personal/img/ImageProcess.jpeg' %}" alt="Card image cap">
                  <h6>Image Denoising using Hybrid filters</h6>
                  <p class="card-text">Domain: Digital Image Processing</p>
                  <p class="card-text">Developed Algorithms for various Applications, namely denoising, detection and stripping. Code on <a href="https://github.com/khursheedali38/Image-Processing">GitHub</a></p>
                </div>
                <div class="card">
                    <img src="{% static 'personal/img/Cloud.jpeg' %}" alt="Card image cap">
                  <h6>Container Based Application</h6>
                  <p class="card-text">Domain: Cloud Computing</p>
                  <p class="card-text">Developing Container based app using Dockers. Code on <a href="https://github.com/khursheedali38/TCAM-Utilization-in-switches">GitHub</a></p>
                </div>
              </div>
    
            </div>
          </div>
    
        </main>
{% endblock %}